{% extends 'base.html.twig' %}

{% block body %}
    <h1>pregunta subir archivo</h1>
        
    {{ form_start(form) }}
        <div class="row">
            <div class="col s12">
            <label class="teal-text darken-4"><h6>Area :</h6></label>
            <input list="areas" name="area" placeholder="seleccione o introzca nombre de area" required>
              <datalist id="areas">
              {% for area in areas %}
                <option value={{ area.nameArea }}>
              {% endfor %}
              </datalist>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
            <i class="material-icons prefix">mode_edit</i>
            {{ form_widget(form.statementQuestion, {'attr': {'class':"materialize-textarea"}}) }}
            {{ form_errors(form.statementQuestion) }}
                <label for="question_statementQuestion">Enunciado</label>
            </div>
        </div>
        

        <div class="file-field input-field">
          <div class="btn">
            <span>imagen</span>
            <i class="material-icons right">perm_media</i>
                {{ form_widget(form.image) }}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>

        <div class="file-field input-field">
          <div class="btn">
            <span>archivo</span>
            <i class="material-icons right">description</i>
                {{ form_widget(form.file) }}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>

        <br>
        <input type="submit" value="crear" class="btn waves-effect waves-light" /> 
    {{ form_end(form) }}
    
{#    <input list="browsers" name="browser">
        <datalist id="browsers">
            <option value="Internet Explorer">
        </datalist>#}

    <ul>
        <li>
            <a href="{{ path('question_index') }}">Volver a la lista</a>
        </li>
    </ul>
{% endblock %}
