{% extends 'base.html.twig' %}

{% block title %} Banco de preguntas {% endblock %}
{% block body %}
    <h1>Lista de preguntas</h1>

    <table class="striped">
        <thead>
            <tr>
                <th>Nro.</th>
                <th>Enunciado</th>
                <th>area</th>
                <th>Tipo de pregunta</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('question_show', { 'id': question.idQuestion }) }}">{{ question.idQuestion }}</a></td>
                <td>{{ question.statementQuestion[0:15] }}</td>
                <td>{{ question.idArea.nameArea }}</td>
                <td>{{ question.idType.name_type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('question_new') }}">Crear una nueva pregunta</a>
        </li>
    </ul>
{% endblock %}
    