{% extends 'base.html.twig' %}
{% block title %} Banco de preguntas {% endblock %}
{% block body %}
    <label class="teal-text lighten-4">
        <h3>Banco de preguntas</h3>
    </label>

    <table class="striped">
        <thead>
            <tr>
                {#<th>Nro.</th>#}
                <th>Enunciado</th>
                <th>area</th>
                <th>Tipo de pregunta</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}

            <tr {% if question.idType != null %} onclick="javascript:location.href='{{question.getURL()}}'" {% endif %}>
                {#<td><a href="{{ path('question_show', { 'id': question.idQuestion })}}{{question.getURL()}}">mostrar</a></td>#}
                {#<td><a href="{{question.getURL()}}">{{question.idQuestion}}</a></td>#}
                {% if question.idType.idType != 8 %}
                <td>{{ question.statementQuestion[0:15] }}</td>
                {% else %}
                <td>{{ question.getCompletionStatement()[0:15] }}</td>
                {% endif %}
                <td>{% if question.idArea != null %}{{ question.idArea.nameArea }} {% endif %}</td>
                <td>{% if question.idType != null %}{{ question.idType.nameType }} {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="waves-effect waves-light btn" href="{{ path('question_new') }}">Crear pregunta</a>
        </li>
    </ul>
{% endblock %}
    