{% extends 'base.html.twig' %}

{% block body %}
    <h1>Datos de la Pregunta</h1>

    <div>
        <h5>Enunciado</h4>
        <h6>{{ question.statementQuestion }}</h6>
    </div>
    <p>{{question.pathImageQuestion}}</p>
    <h5>imagen</h5>
    <img height="30%" width="50%" src="{{asset('uploads/images')}}{{question.pathImageQuestion}}">
    
    <h5>Archivo</h5>
    <a href="{{asset('uploads/')}}{{ question.pathFileQuestion }}" download>archivo</a>
    
    <ul>
        <li>
            <a href="{{ path('question_index') }}">Volver Banco de Preguntas</a>
        </li>
        <li>
            <a href="{{ path('question_edit', { 'id': question.idQuestion }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
