{% extends 'base.html.twig' %}

{% block title %}Nota examen{% endblock %}
{% block body %}
    <div class="row">

    <div class="col s12">
        <label class="teal-text lighten-4"><h3>Nota de {{ testTaken.idTest.title }}</h3></label>

        <div class="col m6">
            <label class="teal-text darken-4"><h5>Nombre:  <span class="black-text">{{ testTaken.idUser.name }} {{ testTaken.idUser.lastName }}</span></h5>  </label>   
        </div>

        <div class="col m6">
            <label class="teal-text darken-4"><h5>Puntuación:  <span class="black-text">{{ testTaken.userScore }}</span></h5>  </label>
        </div>
    </div>
    </div>

    <a class="waves-effect waves-light btn" href={{ path('test_index') }}>Ver examenes</a>

    <div class="row">
        
        <div class="col s12">
        <label class="teal-text lighten-4"><h5>Puntuación preguntas del examen</h5></label>

            <div class="col m2">
                <label class="teal-text lighten-4"><h5>Pregunta</h5></label>
            </div>
            <div class="col m8">
                <label class="teal-text lighten-4"><h5>Descripción y respuesta(s) de pregunta</h5></label>
            </div>
            <div class="col m2">
                <label class="teal-text lighten-4"><h5>Puntaje</h5></label>
            </div>
        </div>
        
        {% set numQ = 1 %}
        {% for question in data %}
            <div class="col s12">
                <div class="col m2">
                <label class="teal-text lighten-4"><h5>{{numQ}}</h5></label>
                </div>
            {% if question['question'].idType.idType != 8 %}
                <div class="col m8">
                    <label class="teal-text lighten-4">{{question['question'].idType.nameType}}.</label>
                    <label class="pink-text lighten-4">
                    {% if question['question'] in questionsPenalized %}
                    Penalización, una respuesta mala anula una buena.
                    {% endif %}
                    </label>
                    <pre>{{ question['question'].statementQuestion }}</pre>
                    {% if question['question'].pathImageQuestion != null %}
                        <img align="center" height="30%" width="30%" src="{{ asset('uploads/images/')}}{{question['question'].pathImageQuestion}}"/>
                    {% endif %}
            {% endif %}

            {% if question['question'].idType.idType == 1 %}
                <div class="input-text-field col s12">
                    <textarea class="materialize-textarea" name="answer{{numQ}}" disabled>{{userAnswers[numQ - 1].response}}</textarea>
                </div>

            {% elseif question['question'].idType.idType == 2 %}
                {% set resps = userAnswers[numQ - 1].response|split(' ') %}
                {% set numResp = 1 %}
                {% for ans in question['answers'] %}
                {% set resp = resps[numResp]|split(',') %}
                <div class="col s12">
                    <div class="col s7">
                    <pre>{{ ans.content }}</pre>
                    </div>
                    <div class="col s2">
                        <p>{{ resp[1] }}</p>
                    </div>
                </div>
                {% set numResp = numResp + 1 %}
                {% endfor %}

            {% elseif question['question'].idType.idType == 3 %}
                <div class="col s12">
                {% if userAnswers[numQ - 1].response != null %}
                    <label class="teal-text darken-4"><h6>Archivo adjunto :</h6></label>
                    <a class="waves-effect waves-light btn" href="/uploads/users/{{userAnswers[numQ - 1].response}}" download>Descargar</a>
                {% else %}
                    <p>Ningun archivo subido.</p>
                {% endif %}
                </div>

            {% elseif question['question'].idType.idType == 4 %}
                <div class="col s12">
                    <input name="trueFalse{{question['question'].idQuestion}}" type="radio" id="t{{numQ}}" value="true" {% if userAnswers[numQ - 1].response == "true" %} checked="checked" {% else %}disabled="disabled"{% endif %}/>
                    <label for="t{{numQ}}">Verdadero</label>
                    <input name="trueFalse{{question['question'].idQuestion}}" type="radio" id="f{{numQ}}" value="false"{% if userAnswers[numQ - 1].response == "false" %} checked="checked" {% else %}disabled="disabled"{% endif %}/>
                    <label for="f{{numQ}}">Falso</label>
                </div>

            {% elseif question['question'].idType.idType == 5 %}
                {% for ans in question['answers'] %}
                  <div class="col s12">
                      <div class="col s8"><pre>{{ ans.content }}</pre></div>
                      <div class="input-field col s2">
                        <p>
                        <input name="radio{{numQ}}"value="{{ans.idAnswerElement}}"type="radio" id="test{{ans.idAnswerElement}}" {% if userAnswers[numQ - 1].response == ans.idAnswerElement %} checked="checked" {% else %}disabled="disabled"{% endif %}/>
                        <label class="teal-text lighten-4" for="test{{ans.idAnswerElement}}">Correcta</label>
                        </p>
                      </div>
                  </div>
                {% endfor %}

            {% elseif question['question'].idType.idType == 6 %}
                  {% set resps = userAnswers[numQ - 1].response|split(' ') %}
                  {% for ans in question['answers'] %}
                          <div class="col s12">
                              <div class="col s8">
                                <pre>{{ ans.content }}</pre>
                              </div>
                              <div class="input-field col s2">
                                <p><input class="with-gap" name="check{{ans.idAnswerElement}}" value="1" type="checkbox" id="test{{ans.idAnswerElement}}" {% if ans.idAnswerElement in resps %} checked="checked" {% endif %}disabled="disabled">
                                <label class="teal-text lighten-4" for="test{{ans.idAnswerElement}}">Correcta</label></p>
                                
                              </div>
                          </div>
                  {% endfor %}

            {% elseif question['question'].idType.idType == 7 %}
                {% set resps = userAnswers[numQ - 1].response|split(' ') %}
                 {% set foo = 1 %}
                    <div class="col s12">
                      <div class="col s5">
                      {% for i in range(0,((question['answers']|length) / 2)-1) %}
                        <div class="col s1">
                          <label class="teal-text lighten-4"><h6>{{ foo }}. </h6></label>
                        </div>
                        <div class="col s11">
                          <pre>{{question['answers'][i].content}}</pre>
                        </div>
                      {% set foo = foo + 1 %}
                      {% endfor %}
                      </div>
                      <div class="col s7">
                      {% set numR = 0 %}
                      {% for k in range((question['answers']|length)/2, (question['answers']|length)-1) %}
                      {% set resp = resps[numR]|split(',') %}
                      <div class="col s12">
                        <div class="col s1">
                          <p>{{ resp[1] }}</p>
                        </div>
                        <div class="col s11">
                          <pre>{{(question['answers'][k]).content}}</pre>
                        </div>
                      </div>
                      {% set numR = numR + 1 %}
                      {% endfor %}
                      </div>
                  </div>

            {% elseif question['question'].idType.idType == 8 %}
            <div class="col m8">
                {% set keys = question['question'].statementQuestion|split(' ') %}
                    <div class="col s12">
                    <label class="teal-text lighten-4">{{question['question'].idType.nameType}}.</label>
                    <label class="pink-text lighten-4">
                        {% if question['question'] in questionsPenalized %}
                            Penalización, una respuesta mala anula una buena.
                        {% endif %}
                    </label><br>
                    <label style="font-family:sans-serif; font-size:1.2em; color: black;">
                    {% set resps = userAnswers[numQ - 1].response|split(' ') %}
                    {% set iRes = 0 %}
                    {% set cont = 1 %}
                    {% for key in keys %}
                        {% if key starts with '[' %}
                            {% set resp = resps[iRes]|split(',') %}
                                <input type="text" style="width:12em;" name="word{{numQ}}{{cont}}" value="{{resp[1]}}" />
                                {% set cont = cont + 1 %}
                            {% set iRes = iRes + 1 %}
                        {% else %}
                            {{ key }}
                        {% endif %}
                    {% endfor %}
                    </label>
                    {% if question['question'].pathImageQuestion != null %}
                        <img align="center" height="30%" width="30%" src="{{ asset('uploads/images/')}}{{question.pathImageQuestion}}"/>
                    {% endif %}
                    </div>

            {% elseif question['question'].idType.idType == 9 %}
                <div class="col s12">
                    {% set resps = userAnswers[numQ - 1].response|split(' ') %}
                    {% set iRes = 0 %}

                    {% set counter = 1 %}
                    {% for ans in question['answers'] %}
                        {% set falseC = counter + 1 %}
                        <div class="input-field col s8">
                            <pre>{{ ans.content }}</pre>
                        </div>
                        {% set resp = resps[iRes]|split(',') %}
                        <div class="input-field col s4">
                            <input name="group{{ ans.idAnswerElement }}" type="radio" id="test{{numQ}}{{counter}}" value="TRUE" {% if resp[1] == "TRUE" %} checked="checked" {% else %}disabled="disabled"{% endif %}/>
                            <label for="test{{numQ}}{{counter}}">Es Verdadero</label>
                            <input name="group{{ ans.idAnswerElement }}" type="radio" id="test{{numQ}}{{falseC}}" value="FALSE" {% if resp[1] == "FALSE" %} checked="checked" {% else %}disabled="disabled"{% endif %}/>
                            <label for="test{{numQ}}{{falseC}}">Es Falso</label>
                        </div>
                        {% set counter = counter + 2 %}
                        {% set iRes = iRes + 1 %}
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            
            <div class="col m2" align="center">
                {% if userAnswers[numQ - 1].scoreQuestion == null %}
                    <button onclick="abrir('{{ path('test_score_asigned', {testid: test_id, questionid:userAnswers[numQ - 1].idQuestion.idQuestion, score:0})}}',1);" class="waves-effect waves-light btn red">Sin_Calificar</button>
                {% else %}

                <button onclick="abrir('{{ path('test_score_asigned', {testid: test_id, questionid:userAnswers[numQ - 1].idQuestion.idQuestion, score:0})}}',{{userAnswers[numQ - 1].scoreQuestion}});" class="waves-effect waves-light btn">Cambiar_Nota</button>
                {% endif %}
            </div>
            {% set numQ = numQ + 1 %}
        </div>
        {% endfor %}                             
    </div>

    <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h3 class="teal-text lighten-4">Agregar Nota</h3>
          <p id="nota" class="teal-text lighten-4">la nota actual es: </p>
          <input id="percent" value="1" min=1 type="number">
        </div>
        
        <div class="modal-footer">
          <button id="agregar" href="" onclick="calificar()" class="modal-action modal-close waves-effect waves-green btn-flat">Agregar</button>
          <input id="url" type="hidden" name="">
          <button class="modal-action modal-close waves-effect waves-green btn-flat" onclick="cerrar();">cancelar</button>
        </div>
      </div>

    <script>
    var calificar = function() {
        var url = $('#url')[0].value;
        var size = url.length-2;
        var url = url.substring(0, size);
        var value = $('#percent')[0].value;
        var url = url + '/'+ value;
        if (parseInt(value) < 1) {
            toast('no puede asignar puntos menores a 1');
        }
        else{
                location.href=url;
        }
    }

    var abrir = function(url, notaActual) {
        $('#modal1').openModal();
        $('#url')[0].value = url;
        $('#percent')[0].value = notaActual;
    };

    var cerrar = function() {
        $('#modal1').closeModal();
    };

    var toast = function(msg){
        Materialize.toast(msg, 3000);
    };

    var agregado = function () {
        var msg = window.location.search.substr(1);
        if (msg != "") {
            msg = msg.split("=")[1].replace(/[+]/g, " ");
            toast(msg);
        }
    };
    (agregado(),2000);
    </script>
{% endblock %}