{% extends 'base.html.twig' %}

{% block body %}

    <div>
    <label class="teal-text lighten-4"><h3>Asignar preguntas a un examen</h3></label>

        <div class="row">
            <div class="col s6">
                <label class="teal-text darken-4"><h6>Titulo :</h6></label>
                <div>{{ test.title }}</div>
            </div>
            <div class="col s6">
                <label class="teal-text darken-4"><h6>Materia :</h6></label>
                <div>{{ test.matter }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3">
            <a class="waves-effect waves-light btn" href="{{ path('test_show', { 'id': test.idTest }) }}">volver al Examen</a>
        </div>
        <div class="col s12 m3">
            <a class="waves-effect waves-light btn" href={{ path('test_index') }}>Ver Examenes</a>
        </div>
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>Enunciado</th>
                <th>area</th>
                <th>Tipo de pregunta</th>
                <th>accion asignar</th>
            </tr>
        </thead>
        <tbody>
        
        {% for question in questions %}
            <tr  >
                <td>{{ question.statementQuestion[0:15] }}</td>
                <td>{{ question.idArea.nameArea }}</td>
                <td>{{ question.idType.nameType }}</td>
                <td><button onclick="abrir('{{ question.statementQuestion |replace({"\n":' ', "\r":' '}) }}','{{ question.idType.nameType }}','{{ path('test_asign', {idT:test.idTest, idQ:question.idQuestion, percent:0})}}');" class="waves-effect waves-light btn">asignar</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h3 class="teal-text lighten-4">Asignar pregunta al examen</h3>
          <p class="teal-text lighten-4">enunciado: </p>
          <h5 id="stantment"> </h5>
          <p class="teal-text lighten-4">tipo de pregunta: </p>
          <h6 id="nametype"> </h6>
          <p class="teal-text lighten-4">puntaje de la pregunta:</p>
          <p class="teal-text lighten-4">puntaje total: {{ test.score }}, puntaje usado: {{ score_asign }}</p>
          <input id="percent" value="1" min=1 type="number">
        </div>
        <div class="modal-footer">
          <button id="agregar" href="" onclick="guardar( {{score_asign}}, {{ test.score }} )" class="modal-action modal-close waves-effect waves-green btn-flat">Agregar</button>
          <input id="url" type="hidden" name="">
          <button class="modal-action modal-close waves-effect waves-green btn-flat" onclick="cerrar();">cancelar</button>
        </div>
      </div>

    <script>
    $(document).ready(function(){
        $('.modal-trigger').leanModal();
    });

    var abrir = function(statementQuestion, typename, url) {
        $('#stantment').text(statementQuestion);
        $('#nametype').text(typename);
        $('#modal1').openModal();
        $('#url')[0].value = url;
    };

    var guardar = function(score_asign, total_score) {
        var url = $('#url')[0].value;
        var size = url.length-2;
        var url = url.substring(0, size);
        var percent = $('#percent')[0].value;
        var url = url + '/'+ percent;
        if (parseInt(percent) < 1) {
            toast('no puede asignar puntos menores a 1');
        }
        else{
            if (( parseInt(score_asign) + parseInt(percent)) > parseInt(total_score)) {
                toast('Los puntos que intenta asignar superan a los puntos del examen');
            }
            else{
                location.href=url;
            }
        }
    };

    var cerrar = function() {
        $('#modal1').closeModal();
    };
    
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
     });
    
    var toast = function(msg){
        Materialize.toast(msg, 4000);
    };

    var agregado = function () {
        var msg = window.location.search.substr(1); 
        if (msg != "") {
            toast("la pregunta fue agregada");
        }
    };
    (agregado(),2000);
    </script>    	
{% endblock %}
