{% extends 'base.html.twig' %}

{#{% block body %}#}
    {#<h1>Editar Examen</h1>#}

    {#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Edit" />#}
    {#{{ form_end(edit_form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('test_index') }}">Atras</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}

{% block body %}
    <h1>Crear Examen</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="row input-field ">
            {{ form_widget(edit_form.title)}}
            <label for="input_text">Titulo</label>
        </div>
        <div class="row input-field">
            {{ form_widget(edit_form.matter)}}
            <label for="input_text">Materia</label>
        </div>
        <div class="row input-field">
            {{ form_widget(edit_form.institution)}}
            <label for="input_text">Institucion</label>
        </div>


        <div class="row">
            <div class="input-field col s6">
                <label for="input_date">Fecha Inicio</label>
                {{ form_widget(edit_form.startDate)}}
            </div>
            <div class="input-field col s6">
                <label class="active">Hora Inicio</label>
                {{ form_row(edit_form.startTime,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
            </div>

        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="input_date">Fecha Fin</label>
                {{ form_widget(edit_form.endDate)}}
            </div>
            <div class="input-field col s6">
                <label  class="active">Hora Fin</label>
                {{ form_row(edit_form.endTime,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
            </div>

        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="input_date">Fecha Inicio Inscripcion</label>
                {{ form_widget(edit_form.startDateEnrollment)}}
            </div>
            <div class="input-field col s6">
                <label class="active">Hora Inicio Inscripcion</label>
                {{ form_row(edit_form.startTimeEnrollment,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
            </div>

        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="input_date">Fecha Fin Inscripcion</label>
                {{ form_widget(edit_form.endDateEnrollment)}}
            </div>
            <div class="input-field col s6">
                <label class="active">Hora Fin Inscripcion</label>
                {{ form_row(edit_form.endTimeEnrollment,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
            </div>

        </div>

        <script>
            $(document).ready(function() {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd H:i'
                });
            });
        </script>

        <div class="row input-field">
            {{ form_widget(edit_form.score)}}
            <label for="input_text">Puntuacion Maxima</label>
        </div>

        <div class="row input-field">
            {{ form_widget(edit_form.percentage)}}
            <label for="input_text">Procentaje Total</label>
        </div>
    </div>
    <input type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    <ul>
    <li>
    <a href="{{ path('test_index') }}">Atras</a>
    </li>
    <li>
    {{ form_start(delete_form) }}
    <input type="submit" value="Eliminar">
    {{ form_end(delete_form) }}
    </li>
    </ul>

    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    </script>
{% endblock %}
