{% extends 'base.html.twig' %}

{% block body %}


    <label class="teal-text lighten-4">
        <h3>Examenes  </h3>
    </label>
<form action="result">

          <div class="row" >
           <div class="col s3">
          <label class="grey-text lighten-1 "> <h6> Buscar por: </h6> </label><br>
          </div>
          <div class="col s3">
            <p>
              <input name="group1" type="radio" id="t" value="tittle" checked />
              <label for="t">Titulo</label>
            </p>
            </div>
             <div class="col s3">
            <p>
              <input name="group1" type="radio" id="f" value="matter" />
              <label for="f">Materia</label>
            </p>
            </div>
             <div class="col s3">
            <p>
              <input name="group1" type="radio" id="i" value="institution" />
              <label for="i">Intitucion</label>
            </p>
            </div>
          </div>

<div class="row" >


<div class="col s4">
  <input type="text" name="bus" placeholder="nombre de examen" required>
      </div>
  <button class="btn waves-effect waves-light" type="submit" name="search" >
    <i class="material-icons right">search</i>
  </button>
 </div>       
</form>


<label class="teal-text lighten-4"><h5>Examenes creados </h5></label>
    <table class="striped">
        <thead>
            <tr>
                <th class="teal-text lighten-4">Titulo</th>
                <th class="teal-text lighten-4">Materia</th>
                <th class="teal-text lighten-4">Institucion</th>
                <th class="teal-text lighten-4"> Resolver</th>
                <th class="teal-text lighten-4"> Notas </th>
            </tr>
        </thead>
        <tbody >
        {% for test in tests %}
            <tr>
                {#<td><a href="{{ path('test_show', { 'id': test.idTest }) }}">{{ test.idTest }}</a></td>#}
                <td>
                    <a  href="{{ path('test_show', { 'id': test.idTest }) }}"><font color="black">{{test.title}}</font></a>
                </td>
                <td>
                    <a href="{{ path('test_show', { 'id': test.idTest }) }}"><FONT COLOR="black">{{test.matter}}</FONT></a>
                </td>
                <td>
                    <a href="{{ path('test_show', { 'id': test.idTest }) }}"><FONT COLOR="black">{{test.institution}}</FONT></a>
                </td>
                <td>
                {% if test in testsT %}
                    <p>Resuelto</p>
                {% else %}
                    <a href={{path('exam_homepage', {'idTest':test.idTest})}}>Resolver</a>
                {% endif %}
                </td>
                <td>
                    <a href={{path('show_qualifications', {'id':test.idTest})}}>Planilla de calificaciones</a>
                </td>
                
            {#</tr>#}
        {% endfor %}
        </tbody>
    </table>
<label class="teal-text lighten-4"><h5>Examenes habilitados </h5></label>
        <table class="striped">
        <thead>
            <tr>
                <th class="teal-text lighten-4">Titulo</th>
                <th class="teal-text lighten-4">Materia</th>
                <th class="teal-text lighten-4">Institucion</th>
                <th class="teal-text lighten-4"> Resolver</th>
            </tr>
        </thead>
        <tbody >
        {% for testA in testsAvailable %}
            <tr>
                {#<td><a href="{{ path('test_show', { 'id': test.idTest }) }}">{{ test.idTest }}</a></td>#}
                <td>
                    <a  href="{{ path('test_show', { 'id': testA.idTest }) }}"><font color="black">{{testA.title}}</font></a>
                </td>
                <td>
                    <a href="{{ path('test_show', { 'id': testA.idTest }) }}"><FONT COLOR="black">{{testA.matter}}</FONT></a>
                </td>
                <td>
                    <a href="{{ path('test_show', { 'id': testA.idTest }) }}"><FONT COLOR="black">{{testA.institution}}</FONT></a>
                </td>
                <td>
                {% if testA in testsT %}
                    <p>Resuelto</p>
                {% else %}
                    <a href={{path('exam_homepage', {'idTest':testA.idTest})}}>Resolver</a>
                {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="waves-effect waves-light btn" href="{{ path('test_new') }}">Crear Examen</a>
        </li>
    </ul>
{% endblock %}
