{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de examenes</h1>

    <table>
        <thead>
            <tr>
                <th>Id </th>
                <th>Titulo</th>
                <th>Materia</th>
                <th>Institucion</th>
                <th>Hora Inicio</th>
                <th>Hora Final</th>
                <th>Startenrollment</th>
                <th>Endenrollment</th>
                <th>Score</th>
                <th>Percentage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': test.idTest }) }}">{{ test.idTest }}</a></td>
                <td>{{ test.title }}</td>
                <td>{{ test.matter }}</td>
                <td>{{ test.institution }}</td>
                <td>{% if test.startTime %}{{ test.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if test.endTime %}{{ test.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if test.startEnrollment %}{{ test.startEnrollment|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if test.endEnrollment %}{{ test.endEnrollment|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ test.score }}</td>
                <td>{{ test.percentage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('test_show', { 'id': test.idTest }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('test_edit', { 'id': test.idTest }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('test_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
