{% extends "base.html.twig" %}

{% block body %}
    <h1>Crear Examen</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="row input-field ">
            {{ form_widget(form.title)}}
            <label for="input_text">Titulo</label>
        </div>
        <div class="row input-field">
            {{ form_widget(form.matter)}}
            <label for="input_text">Materia</label>
        </div>
        <div class="row input-field">
            {{ form_widget(form.institution)}}
            <label for="input_text">Institucion</label>
        </div>


        <div class="row">
            <div class="input-field col s6">
                <label for="input_date">Fecha Inicio</label>
                {{ form_widget(form.startDate)}}
            </div>
            <div class="input-field col s6">
            <label class="active">Hora Inicio</label>
            {{ form_row(form.startTime,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
            </div>

        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="input_date">Fecha Fin</label>
                {{ form_widget(form.endDate)}}
            </div>
            <div class="input-field col s6">
                <label  class="active">Hora Fin</label>
                {{ form_row(form.endTime,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
            </div>

        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="input_date">Fecha Inicio Inscripcion</label>
                {{ form_widget(form.startDateEnrollment)}}
            </div>
            <div class="input-field col s6">
                <label class="active">Hora Inicio Inscripcion</label>
                {{ form_row(form.startTimeEnrollment,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
            </div>

        </div>

        <div class="row">
            <div class="input-field col s6">
                <label for="input_date">Fecha Fin Inscripcion</label>
                {{ form_widget(form.endDateEnrollment)}}
            </div>
            <div class="input-field col s6">
                <label class="active">Hora Fin Inscripcion</label>
                {{ form_row(form.endTimeEnrollment,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
            </div>

        </div>

        <script>
            $(document).ready(function() {
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd H:i'
                });
            });
        </script>

        <div class="row input-field">
            {{ form_widget(form.score)}}
            <label for="input_text">Puntuacion Maxima</label>
        </div>

        <div class="row input-field">
            {{ form_widget(form.percentage)}}
            <label for="input_text">Procentaje Total</label>
        </div>
    </div>
    {#{{ form_widget(form) }}#}
    {#<input type="submit" value="Create" />#}

    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('test_index') }}">Atras</a>
        </li>
    </ul>

    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    </script>
{% endblock %}

    {#
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>#}
