{% extends "base.html.twig" %}
{% block body %}

    <label class="teal-text lighten-4" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><h3>Crear Examen</h3></label>
    </br>

    {{ form_start(form) }}
        <div class="row">

            <div class="row input-field ">
                <label class="teal-text darken-4"><h6>Titulo :</h6></label>
                {{ form_widget(form.title, {'attr':{'placeholder':"Introduzca Texto", 'type':"text"}})}}
            </div>
            <div class="row input-field ">
                <label class="teal-text darken-4"><h6>Materia :</h6></label>
                {{ form_widget(form.matter, {'attr':{'placeholder':"Introduzca Texto", 'type':"text"}})}}
            </div>
            <div class="row input-field ">
                <label class="teal-text darken-4"><h6>Institucion :</h6></label>
                {{ form_widget(form.institution, {'attr':{'placeholder':"Introduzca Texto", 'type':"text"}})}}
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label for="input_text" class="teal-text darken-4"><h6>Fecha Inicio Inscripcion: </h6></label>
                    </br>
                    {{ form_widget(form.startDateEnrollment, {'attr':{'placeholder':"Seleccione Fecha"}})}}
                </div>
                </br>
                <div class="input-field col s6">
                    <label for="input_text" class="active teal-text darken-4">Hora Inicio Inscripcion: (Hr:Min)</label>
                    {{ form_row(form.startTimeEnrollment,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
                </div>
            </div>
            {#</br>#}
            <div class="row">
                <div class="input-field col s6">
                    <label for="input_text" class="teal-text darken-4"><h6>Fecha Fin Inscripcion: </h6></label>
                    </br>
                    {{ form_widget(form.endDateEnrollment, {'attr':{'placeholder':"Seleccione Fecha"}})}}
                </div>
                </br>
                <div class="input-field col s6">
                    <label for="input_text" class="active teal-text darken-4">Hora Fin Inscripcion: (HH:mm)</label>
                    {{ form_row(form.endTimeEnrollment,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label for="input_text" class="teal-text darken-4"><h6>Fecha Inicio: </h6></label>
                    </br>
                    {{ form_widget(form.startDate, {'attr':{'placeholder':"Seleccione Fecha",'type':"text"}})}}
                </div>
                </br>
                <div class="input-field col s6">
                    <label for="input_text" class="active teal-text darken-4">Hora Inicio: (Hr:Min)</label>
                    {{ form_row(form.startTime,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label for="input_text" class="teal-text darken-4"><h6>Fecha Fin: </h6></label>
                    </br>
                    {{ form_widget(form.endDate, {'attr':{'placeholder':"Seleccione Fecha", 'type':"text"}})}}
                </div>
                </br>
                <div class="input-field col s6">
                    <label  for="input_text" class="active teal-text darken-4">Hora Fin: (Hr:Min)</label>
                    {{ form_row(form.endTime,  {'attr': {'class':"input-field", 'class':"col s4"}})}}
                </div>
            </div>
            {#</br>#}

            </br>
            <script>
                $(document).ready(function() {
                    $('.datepicker').datepicker({
                        format: 'yyyy-mm-dd'
                    });
                });
            </script>

            <div class="row input-field">
                <label for="input_text" class="teal-text darken-4"><h6>Puntuacion Maxima</h6></label>
                {{ form_widget(form.score, {'attr':{'placeholder':'Introduzca Puntuacion', 'type':"text"}})}}
            </div>
            </br>
            <div class="row input-field">
                <label for="input_text" class="teal-text darken-4"><h6>Procentaje Total</h6></label>
                {{ form_widget(form.percentage, {'attr':{'placeholder':"Introduzca Porcentaje % ", 'type': "text"}})}}
            </div>
            </br>
        </div>

    <div class="center-align">
        {#<button onmouseover="availableBtn()" id="save" class="btn waves-effect waves-light disabled">Guardar</button>#}
        <button class="btn waves-effect waves-light" type="submit" name="action">Guardar</button>
        <a class="waves-effect waves-light btn" href={{ path('test_index') }}>Cancelar</a>
    </div>
    {{ form_end(form) }}

    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });

        var verificarFechas = function() {
            var result = false;
            var inicio = new Date ($('#test_startDate').val());
            var fin = new Date ($('#test_endDate').val());
            if (inicio < fin) {
                result = true
            }
            return result;
        }

        var availableBtn = function() {
            console.log('msg');
            if (verificarFechas()) {
                $('#save').removeClass('disabled');
                $('#save').removeAttr('disabled');
                $('#save').attr('type', 'submit');
                $('#save').attr('name', 'action');
            }
            else{
                alert('las fechas son incosistentes');
            }
        }
    </script>
{% endblock %}