{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear Examen</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="row input-field ">
                {{ form_widget(form.title)}}
                <label for="input_text">Titulo</label>
            </div>
            <div class="row input-field">
                {{ form_widget(form.matter)}}
                <label for="input_text">Materia</label>
            </div>
            <div class="row input-field">
                {{ form_widget(form.institution)}}
                <label for="input_text">Institucion</label>
            </div>

            <div class="row">
                {#{{ form_widget(form.startTime, {'attr':{'class':'datapicker'}})}}#}
                {{ form_widget(form.startTime)}}
                <label for="input_text">Inicio De examen</label>
            </div>

            <div class="row">
                {{ form_widget(form.endTime)}}
                <label for="input_datetime">Fin De examen</label>
            </div>
            <div class="row">
                {{ form_widget(form.startEnrollment)}}
                <label for="input_datetime">Inicio Inscripcion</label>
            </div>
            <div class="row">
                {{ form_widget(form.endEnrollment)}}
                <label for="input_datetime">Fin Inscripcion</label>
            </div>

            <script>
                $(document).ready(function() {
                    $('.datepicker').datepicker({
                        format: 'yyyy-mm-dd H:i'
                    });
                });
            </script>

            <div class="row input-field">
                {{ form_widget(form.score)}}
                <label for="input_text">Puntuacion Maxima</label>
            </div>

            <div class="row input-field">
                {{ form_widget(form.percentage)}}
                <label for="input_text">Procentaje Total</label>
            </div>
        </div>
        {#{{ form_widget(form) }}#}
    {#<input type="submit" value="Create" />#}

    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('test_index') }}">Atras</a>
        </li>
    </ul>
{% endblock %}
