{% extends 'base.html.twig' %}

{#{% set html %}#}
{% block body %}
    <div id="content">
        <h3>Hello, this is a H3 tag</h3>
        <a class="upload">Upload to Imgur</a>
        <h2>this is <b>bold</b> <span style="color:red">red</span></h2>
        <p>Feedback form with screenshot This script allows you to create feedback forms which include a screenshot, created on the clients browser, along with the form. The screenshot is based on the DOM and as such may not be 100% accurate to the real representation
            as it does not make an actual screenshot, but builds the screenshot based on the information available on the page. How does it work? The script is based on the html2canvas library, which renders the current page as a canvas image, by reading the
            DOM and the different styles applied to the elements. This script adds the options for the user to draw elements on top of that image, such as mark points of interest on the image along with the feedback they send. It does not require any rendering
            from the server, as the whole image is created on the clients browser. No plugins, no flash, no interaction needed from the server, just pure JavaScript! Browser compatibility Firefox 3.5+ Newer versions of Google Chrome, Safari & Opera IE9
        </p>
    </div>
    <div id="dvContainer"  >

        <div class="row">
            <div class="col s12 center">
            <label class="teal-text lighten-4"><h3>{{ test.title }}</h3></label>
            </div>
            <div class="col s4">
                <label><h5 class="teal-text darken-4">Materia: <strong class="black-text">{{ test.matter }}</strong></h5></label>
            </div>
            <br>
            <div class="col s4">
                {% if test.institution%}
                    <label class="teal-text darken-4"><h5>Institucion :  <strong class="black-text">{{ test.institution }}</strong></h5></label>
                {% else %}
                    {{ 'No Definido'}}
                {% endif %}
            </div>

            <div class="col s12">
                <div class="col s3">
                <h5 class="teal-text darken-4">Nombre completo: </h5>
                </div>
                <div class="col s9">
                    <input type="text" disabled name="">
                </div>
            </div>
        </div>

        <div class="preguntas">
        {% for value in data %}
            {{ value['question'].getQuestionView(value['answerEl'])  | raw }}
            {#{ value['question'].getViewStatement()  | raw }#}
        {% endfor %}
        </div>




    </div>

     <div class="row">
        <div class="col">
            <a class="waves-effect waves-light btn" href={{ path('test_index') }}>Ver Examenes</a>
        </div>

         <input class="waves-effect waves-light btn" type="button" value="PDF" id="btnPrint" />

         <input type="button" value="Print Div Contents" id="btnPrint" />

         <button id="cmd">generate PDF</button>
    </div>

    {#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>#}
    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
//            printWindow.document.write('<html><head><title>DIV Contents</title>');
//            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
//            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
    </script>

    <script>
        $(function () {
            var specialElementHandlers = {
                '#editor': function (element,renderer) {
                    return true;
                }
            };
            $('#cmd').click(function () {
                var doc = new jsPDF();
                doc.fromHTML($('#preguntas').html(), 15, 15, {
                    'width': 170,'elementHandlers': specialElementHandlers
                });
                doc.save('sample-file.pdf');
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
    <script type="text/javascript" src="http://cdn.uriit.ru/jsPDF/libs/adler32cs.js/adler32cs.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
    <script type="text/javascript" src="libs/Blob.js/BlobBuilder.js"></script>
    <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.addimage.js"></script>
    <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.standard_fonts_metrics.js"></script>
    <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.split_text_to_size.js"></script>
    <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.from_html.js"></script>
    <script type="text/javascript" src="js/basic.js"></script>



{% endblock %}
