{% extends 'base.html.twig' %}

{#{% set html %}#}
{% block body %}

    <div id="dvContainer"  >
        <link rel="stylesheet" href="{{asset('css/materialize.min.css')}}">
        <style > </style>
        <div class="row">
            <div class="col s12 center">
            <label class="teal-text lighten-4" id="title"><h4>{{ test.title }}</h4></label>
            </div>
            <div class="col s6">
                <label><h6 class="teal-text darken-4">Materia: <strong class="black-text">{{ test.matter }}</strong></h6></label>
            </div>
            <br>
            <div class="col s6">
                {% if test.institution%}
                    <label class="teal-text darken-4"><h6>Institucion :  <strong class="black-text">{{ test.institution }}</strong></h6></label>
                {% else %}
                    {{ 'No Definido'}}
                {% endif %}
            </div>

            <div class="col s12">
                <div class="col s4">
                <h6 class="teal-text darken-4">Nombre completo: </h6>
                </div>
                <div class="col s8">
                    <input type="text" disabled name="">
                </div>
            </div>
        </div>

        <div class="preguntas">
        
        {% for value in data %}
            {% set count = count + 1 %}
            <label class="teal-text darken-4"><h6>pregunta {{ count }}:</h6></label>
            {{ value['question'].getQuestionView(value['answerEl'])  | raw }}
            {#{ value['question'].getViewStatement()4 | raw }#}
        {% endfor %}
        </div>

        <script>
        var imprimir = function() {
            document.getElementById("eliminar").outerHTML = "";
            print();
        };
        </script>


    </div>

     <div class="row">
        <div class="col">
            <a class="waves-effect waves-light btn" href={{ path('test_index') }}>Ver Examenes</a>
        </div>

         <input class="waves-effect waves-light btn" type="button" value="PDF" id="btnPrint" />

         {#<button id="cmd">generate PDF</button>#}
    </div>

    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var title = document.getElementById('title');
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write("<html><head>");
            printWindow.document.write("</head><body> <button id=\"eliminar\" onclick=\" imprimir(); \">imprimir</button> ");
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            // (wait(),30000);
            // printWindow.print();
        });
    </script>

    <script>
        var wait = function(){
            console.log("no te olvides de poner el where en el delete del from");
        };
        $(function () {
            var specialElementHandlers = {
                '#editor': function (element,renderer) {
                    return true;
                }
            };
            $('#cmd').click(function () {
                var doc = new jsPDF();
                doc.fromHTML($('#preguntas').html(), 15, 15, {
                    'width': 170,'elementHandlers': specialElementHandlers
                });
                doc.save('sample-file.pdf');
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
    <script type="text/javascript" src="http://cdn.uriit.ru/jsPDF/libs/adler32cs.js/adler32cs.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
    <script type="text/javascript" src="libs/Blob.js/BlobBuilder.js"></script>
    <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.addimage.js"></script>
    <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.standard_fonts_metrics.js"></script>
    <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.split_text_to_size.js"></script>
    <script type="text/javascript" src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.from_html.js"></script>
    <script type="text/javascript" src="js/basic.js"></script>



{% endblock %}
