{% extends 'base.html.twig' %}

{% block body %}

    <div >
    <label class="teal-text lighten-4"><h3>Detalles del Examenen</h3></label>

        <div class="row">
            <div class="row">
                <label class="teal-text darken-4"><h6>Titulo :</h6></label>
                <div>{{ test.title }}</div>
            </div>
            <div class="col s3">
                <label class="teal-text darken-4"><h6>Materia :</h6></label>
                <div>{{ test.matter }}</div>
            </div>
            <div class="col s3">
                <label class="teal-text darken-4"><h6>Institucion :</h6></label>
                {% if test.institution%}
                    {{ test.institution }}
                {% else %}
                    {{ 'No Definido'}}
                {% endif %}
            </div>
            <div class="col s3">
                <label class="teal-text darken-4"><h6>Puntuacion Maxima :</h6></label>
                {% if test.score%}
                    {{ test.score }}
                {% else %}
                    {{ 'No Definido'}}
                {% endif %}
            </div>
            <div class="col s3">
                <label class="teal-text darken-4"><h6>Porcentaje Total :</h6></label>
                {% if test.percentage%}
                    {{ test.percentage }}
                {% else %}
                    {{ 'No Definido'}}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <label class="teal-text lighten-4"><h6>Tiempo De Registro</h6></label>
            <p >
                {{'La inscripcion iniciara a partir del: '}}
                {% if test.startDateEnrollment and  test.startTimeEnrollment%}
                    {{ test.startDateEnrollment|date('d / m /d')}}{{ test.startTimeEnrollment|date(' H:i')  }}
                {% else %}
                    <b class="pink-text"> No Definido o Incompleto </b>
                {% endif %}
                {{ 'hasta el' }}
                {% if test.endDateEnrollment and  test.endTimeEnrollment%}
                    {{ test.endDateEnrollment|date('d/m/d')}}{{ test.endTimeEnrollment|date(' H:i')  }}
                {% else %}
                    <b class="pink-text"> No Definido o Incompleto</b>
                {% endif %}
            </p>
        </div>

        <div class="row">
            <label class="teal-text lighten-4"><h6>Tiempo De Duracion</h6></label>
            <p>
                {{'El examen iniciara a partir del: '}}
                {% if test.startDate and  test.startTime%}
                    {{ test.startDate|date('d / m /d')}}{{ test.startTime|date(' H:i')  }}
                {% else %}
                    <b class="pink-text"> No Definido o Incompleto</b>
                {% endif %}
                {{ 'hasta el' }}
                {% if test.endDate and  test.endTime%}
                    {{ test.endDate|date('d/m/d')}}{{ test.endTime|date(' H:i')  }}
                {% else %}
                    <b class="pink-text"> No Definido o Incompleto </b>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="waves-effect waves-light btn" href={{ path('test_index') }}>Ver Examenes</a>
            <a class="waves-effect waves-light btn" href={{ path('test_asosiation', {'id': test.idTest}) }}>asignar preguntas</a>
        </div>

        <div class="col push-s3">
            <a class="waves-effect waves-light btn" href={{ path('test_edit', {'id': test.idTest}) }}>Editar</a>
        </div>
        <div class="col push-s3">
            <a class="waves-effect waves-light btn" href={{ path('test_preview', {'id': test.idTest}) }}>PREVIEW</a>
        </div>
        <div class="col push-s3" >
            {{ form_start(delete_form) }}
                <button class="btn waves-effect waves-light" type="submit" name="action">Eliminar</button>
            {{ form_end(delete_form) }}
        </div>
    </div>

    <h2>preguntas</h2>

        <table class="striped">
        <thead>
            <tr>
                {#<th>Nro.</th>#}
                <th>Enunciado</th>
                <th>area</th>
                <th>Tipo de pregunta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <!-- <tr {% if question.idType != null %} onclick="javascript:location.href='{{question.getURL()}}'" {% endif %}>
               {#<td><a href="{{ path('question_show', { 'id': question.idQuestion })}}{{question.getURL()}}">mostrar</a></td>#} -->

             <!--     {#<td><a href="{{question.getURL()}}">{{question.idQuestion}}</a></td>#}-->
                <td>{{ question.statementQuestion[0:15] }}</td>
                <td>{% if question.idArea != null %}{{ question.idArea.nameArea }} {% endif %}</td>
                <td>{% if question.idType != null %}{{ question.idType.nameType }} {% endif %}</td>
                <td> <a class="btn-floating btn-large waves-effect waves-light gray"{% if question.idType != null %} onclick="javascript:location.href='{{question.getURL()}}'" {% endif %}><i class="material-icons">edit</i></a></td>
                <td> <a  class="btn-floating btn-large waves-effect waves-light gray" href={{ path('test_drop', {idT:test.idTest, idQ:question.idQuestion})}}><i class="material-icons" >delete</i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
     });
    
    var toast = function(msg){
        Materialize.toast(msg, 2000);
    }

    var agregado = function () {
        var msg = window.location.search.substr(1); 
        if (msg != "") {
            toast("la pregunta fue eliminada del examen");
        }
    };
    (eliminado(),2000);
    </script>   

{% endblock %}
