 {% extends 'base.html.twig' %}

{% block body %}
    <h1>Examen</h1>

    <table>
        <tbody>
            <!--<tr>
                <th>Idtest</th>
                <td>{{ test.idTest }}</td>
            </tr>-->
            <tr>
                <th>Titulo del examen:</th>
                <td>{{ test.titleTest }}</td>
            </tr>
            <tr>
                <th>Materia:</th>
                <td>{{ test.matter }}</td>
            </tr>
            <tr>
                <th>Institucion:</th>
                <td>{{ test.institution }}</td>
            </tr>
            <tr>
                <th>Hora de inicio de registro:</th>
                <td>{% if test.hourInit %}{{ test.hourInit|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Hora fin del registro:</th>
                <td>{% if test.hourEnd %}{{ test.hourEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha:</th>
                <td>{% if test.date %}{{ test.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Puntaje del examen:</th>
                <td>{{ test.scoreTest }}</td>
            </tr>
            <tr>
                <th>Total del porcentaje:</th>
                <td>{{ test.totalPercentage }}</td>
            </tr>
            <tr>
                <th>Contrasena del examen:</th>
                <td>{{ test.testPassword }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('test_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('test_edit', { 'id': test.idTest }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
