{% extends 'base.html.twig' %}

{% block body %}
    <h1>Test</h1>

    <table>
        <tbody>
            <tr>
                <th>Idtest</th>
                <td>{{ test.idTest }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ test.title }}</td>
            </tr>
            <tr>
                <th>Matter</th>
                <td>{{ test.matter }}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ test.institution }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if test.startTime %}{{ test.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if test.endTime %}{{ test.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Startenrollment</th>
                <td>{% if test.startEnrollment %}{{ test.startEnrollment|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endenrollment</th>
                <td>{% if test.endEnrollment %}{{ test.endEnrollment|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ test.score }}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ test.percentage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('test_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('test_edit', { 'id': test.idTest }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
