{% extends 'base.html.twig' %}

{% block body %}

    <div >
    <label class="teal-text lighten-4"><h3>Detalles del Examenen</h3></label>

        <div class="row">
            <div class="row">
                <label class="teal-text darken-4"><h6>Titulo :</h6></label>
                <div>{{ test.title }}</div>
            </div>
            <div class="col s3">
                <label class="teal-text darken-4"><h6>Materia :</h6></label>
                <div>{{ test.matter }}</div>
            </div>
            <div class="col s3">
                <label class="teal-text darken-4"><h6>Institucion :</h6></label>
                {% if test.institution%}
                    {{ test.institution }}
                {% else %}
                    {{ 'No Definido'}}
                {% endif %}
            </div>
            <div class="col s3">
                <label class="teal-text darken-4"><h6>Puntuacion Maxima :</h6></label>
                {% if test.score%}
                    {{ test.score }}
                {% else %}
                    {{ 'No Definido'}}
                {% endif %}
            </div>
            <div class="col s3">
                <label class="teal-text darken-4"><h6>Porcentaje Total :</h6></label>
                {% if test.percentage%}
                    {{ test.percentage }}
                {% else %}
                    {{ 'No Definido'}}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <label class="teal-text lighten-4"><h6>Tiempo De Registro</h6></label>
            <p >
                {{'La inscripcion iniciara a partir del: '}}
                {% if test.startDateEnrollment and  test.startTimeEnrollment%}
                    {{ test.startDateEnrollment|date('d / m /d')}}{{ test.startTimeEnrollment|date(' H:i')  }}
                {% else %}
                    <b class="pink-text"> No Definido </b>
                {% endif %}
                {{ 'hasta el' }}
                {% if test.endDateEnrollment and  test.endTimeEnrollment%}
                    {{ test.endDateEnrollment|date('d/m/d')}}{{ test.endTimeEnrollment|date('H:i')  }}
                {% else %}
                    <b class="pink-text"> No Definido </b>
                {% endif %}
            </p>
        </div>

        <div class="row">
            <label class="teal-text lighten-4"><h6>Tiempo De Duracion</h6></label>
            <p>
                {{'El examen iniciara a partir del: '}}
                {% if test.startDate and  test.startTime%}
                    {{ test.startDate|date('d / m /d')}}{{ test.startTime|date(' H:i')  }}
                {% else %}
                    <b class="pink-text"> No Definido </b>
                {% endif %}
                {{ 'hasta el' }}
                {% if test.endDate and  test.endTime%}
                    {{ test.endDate|date('d/m/d')}}{{ test.endTime|date('H:i')  }}
                {% else %}
                    <b class="pink-text"> No Definido </b>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="waves-effect waves-light btn" href={{ path('test_index') }}>Atras</a>
        </div>

        <div class="col push-s5">
            <a class="waves-effect waves-light btn" href={{ path('test_edit', {'id': test.idTest}) }}>Editar</a>
        </div>
        <div class="col push-s5" >
            {{ form_start(delete_form) }}
                <button class="btn pink waves-effect waves-light" type="submit" name="action">Eliminar</button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
