 {% extends 'base.html.twig' %}

{% block body %}
    <h1>Examen</h1>

    <table>
        <tbody>
            <tr>
                <th>Nro Examen</th>
                <td>{{ test.idTest }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ test.title }}</td>
            </tr>
            <tr>
                <th>Materia</th>
                <td>{{ test.matter }}</td>
            </tr>
            <tr>
                <th>Institucion</th>
                <td>{{ test.institution }}</td>
            </tr>
            <tr>
                <th>Inicio Examen</th>
                <td>{% if test.startTime %}{{ test.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fin Examen</th>
                <td>{% if test.endTime %}{{ test.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Inicio Inscripcion</th>
                <td>{% if test.startEnrollment %}{{ test.startEnrollment|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fin Inscripcion</th>
                <td>{% if test.endEnrollment %}{{ test.endEnrollment|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Puntuacion Maxima</th>
                <td>{{ test.score }}</td>
            </tr>
            <tr>
                <th>Porcentage Total</th>
                <td>{{ test.percentage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('test_index') }}">Ver Examenes</a>
        </li>
        <li>
            <a href="{{ path('test_edit', { 'id': test.idTest }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
