{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de area</h1>

    <table>
        <thead>
            <tr>
                <th>Idarea</th>
                <th>Nombre de area</th>
                <th>Descripcion de area</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td><a href="{{ path('area_show', { 'id': area.idArea }) }}">{{ area.idArea }}</a></td>
                <td>{{ area.nameArea }}</td>
                <td>{{ area.descriptionArea }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('area_show', { 'id': area.idArea }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('area_edit', { 'id': area.idArea }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('area_new') }}">Crear una nueva pregunta</a>
        </li>
    </ul>
{% endblock %}
