{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de preguntas del examen</h1>

    <table>
        <thead>
            <tr>
                <th>Porcentaje</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for testQuestion in testQuestions %}
            <tr>
                <td><a href="{{ path('testquestion_show', { 'id': testQuestion.idQuestion }) }}">{{ testQuestion.percent }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('testquestion_show', { 'id': testQuestion.idQuestion }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('testquestion_edit', { 'id': testQuestion.idQuestion }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('testquestion_new') }}">Crear una nueva pregunta</a>
        </li>
    </ul>
{% endblock %}
