{% extends 'base.html.twig' %}
{% block title %}Editar Pregunta{% endblock %}
{% block body %}
    <label class="teal-text lighten-4"><h3>Editar Pregunta</h3></label>
        <div class="row">

    {{ form_start(edit_form,{ 'enctype':"multipart/form-data"}) }}
        <div class="row">
            <div class="col s12">
            <label class="teal-text darken-4"><h6>Area :</h6></label>
            <input list="areas" id="area" name="area" placeholder="seleccione o introzca nombre de area" value="{{question.idArea.nameArea}}" required>
              <datalist id="areas">
              {% for area in areas %}
                <option value="{{ area.nameArea }}">
              {% endfor %}
              </datalist>
             <span id="errorArea"></span>
            </div>
        </div>

          <div class="row">
            <div class="input-field col s12">
              <label class="teal-text darken-4"><h6>Enunciado :</h6></label>
              {{ form_widget(edit_form.statementQuestion,{'attr':{'class':'materialize-textarea', 'id':'textarea1','length':'5000','value':'question.statementQuestion','placeholder':'Introduzca texto'}}) }}
              {{ form_errors(edit_form.statementQuestion) }}
            </div>
          </div>
        {% if question.pathImageQuestion != null %}
        <img height="50%" width="50%" src="{{ asset('uploads/images/')}}{{question.pathImageQuestion}}">
        {% endif %}
        <div class="file-field input-field">
          <div class="btn">
            <span>imagen</span>
            <i class="material-icons right">perm_media</i>
            {{ form_widget(edit_form.image) }}
          </div>
          <div class="file-path-wrapper">
            {{ form_widget(edit_form.pathImageQuestion,{'attr':{'class':'file-path validate'}}) }}
          </div>
        </div>
          <div class="row">
            <div class="row">
            <div class="col s12">
            <label class="teal-text lighten-4 col s12"><h5>Respuestas :</h5></label>
            <label class="grey-text lighten-1 col s12"><h6>*Las respuestas se mostraran de forma aleatoria. Debe completar minimo tres elementos de respuestas.</h6></label>
            </div>
            </div>
            <div class="row" id="answers">
            {% for i in 1..answers|length %}
                <div class="input-field col s12">
                <br>
                <!--input placeholder="Introduzca texto" name="answer{{i}}" type="textArea" class="validate" length="250"-->
                <textarea class="materialize-textarea validate col s10" name="answer{{i}}" placeholder="" length="600"
                {% if i <= 3 %}required{% endif %} >
                {% if answers|length >= i %}{{answers[i-1].content}}{% endif %}</textarea>
                <label class="teal-text lighten-4"><h6>Respuesta {{ i }} :</h6></label>
                
                <div class="input-field col s2">
          <p>
                <input class="with-gap" name="chec1" value="{{i}}" type="radio" id="test{{i}}" 
                {% if i<= answers|length %} {% if answers[i-1].isCorrect %}
                checked="checked"{% endif %} {% endif %}/>
                <label class="teal-text lighten-4" for="test{{i}}">Correcta</label></p>
          </div><br>
                </div>
                <br>
            {% endfor %}
            </div>
            </div>

        <a class="btn waves-effect waves-light " onClick="addElement();">Agregar respuesta</a>
        <br><br>
        <div class="row">
            <div class="col">
                <a class="waves-effect waves-light btn" href={{ path('question_index') }}>Cancelar</a>
            </div>
            <div class="col push-s7">
                <button class="btn waves-effect waves-light" type="submit" name="action" onclick="validation();">Guardar</button>
            </div>
    {{ form_end(edit_form) }}

            <div class="col push-s7">
                {{ form_start(delete_form) }}
                    <button class="btn waves-effect waves-light" type="submit" name="action">Eliminar</button>
                {{ form_end(delete_form) }}
            </div>
        </div>

    </div>
    <script> var i = 5;
      var addElement = function(){
      var answers = document.getElementById("answers");
      
      $(answers).append('<div class="input-field col s12" id="col'+i+'"></div>');
      var div = document.getElementById("col"+i);
      $(div).append('<textarea class="materialize-textarea validate col s10" name="answer'+i+'" placeholder="" length="600"></textarea>');
      $(div).append(' <label class="teal-text lighten-4"><h6>Respuesta '+i+':</h6></label>');

      $(div).append('<div class="input-field col s2"><input class="with-gap" name="chec1" value="'+i+'" type="radio" id="test'+i+'"/><label class="teal-text lighten-4" for="test'+i+'">Correcta</label></div>');
      i++;
      
    };</script>
    <script>$(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter(); });
    var validation = function(){
      var value = (document.getElementById("area").value).trim();
    var divArea = document.getElementById("errorArea");
    if( value == null || value.length == 0) {
      divArea.textContent = 'Este valor no debería estar vacío';
    }else{
      divArea.textContent = '';
    }
    };
    </script>
{% endblock %}