{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <h1>Editar Pregunta</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
                <button class="btn waves-effect waves-light " type="submit" name="action">Editar</button>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('question_index') }}">Ver Banco de preguntas</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn waves-effect waves-light " type="submit" name="action">Eliminar</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}