{% extends 'base.html.twig' %}
{% block title %}Editar Pregunta{% endblock %}
{% block body %}
    <label class="teal-text lighten-4"><h3>Editar Pregunta</h3></label>
        <div class="row">

    {{ form_start(edit_form,{ 'enctype':"multipart/form-data"}) }}
        <div class="row">
            <div class="col s12">
            <label class="teal-text darken-4"><h6>Area :</h6></label>
            <input list="areas" name="area" placeholder="seleccione o introzca nombre de area" value="{{question.idArea.nameArea}}" required>
              <datalist id="areas">
              {% for area in areas %}
                <option value="{{ area.nameArea }}">
              {% endfor %}
              </datalist>
            </div>
        </div>

          <div class="row">
            <div class="input-field col s12">
              <label class="teal-text darken-4"><h6>Enunciado :</h6></label>
              {{ form_widget(edit_form.statementQuestion,{'attr':{'class':'materialize-textarea', 'id':'textarea1','length':'5000','value':'question.statementQuestion','placeholder':'Introduzca texto'}}) }}
              {{ form_errors(edit_form.statementQuestion) }}
            </div>
          </div>
        {% if question.pathImageQuestion != null %}
        <img height="50%" width="50%" src="{{ asset('uploads/images/')}}{{question.pathImageQuestion}}">
        {% endif %}
        <div class="file-field input-field">
          <div class="btn">
            <span>imagen</span>
            <i class="material-icons right">perm_media</i>
            {{ form_widget(edit_form.image) }}
          </div>
          <div class="file-path-wrapper">
            {{ form_widget(edit_form.pathImageQuestion,{'attr':{'class':'file-path validate'}}) }}
          </div>
        </div>

            <div class="row">
                <div class="row">
                    <div class="col s12">
                        <label class="teal-text lighten-4 col s12"><h5>Enunciados :</h5></label>
                    </div>
                </div>
                <div class="row" id="answers">
                    {% for i in 1..answers|length %}
                        <div class="input-field col s8">
                            <input placeholder="" name="answer{{i}}" id="first_name" type="text" value={% if answers|length >= i %} {{answers[i-1].content}} {% endif %}>
                        </div>
                        <div class="input-field col s4">
                            <input name="group{{ i }}" type="radio" id="test{{ i }}" value="verdadero"
                                    {% if i<= answers|length %} {% if answers[i-1].isCorrect %}
                            checked="checked"{% endif %} {% endif %}/>
                            <label for="test{{ i }}">Es Verdadero</label>

                            <input name="group{{ i }}" type="radio" id="test{{ i+1 }}" value="falso"
                                    {% if i<= answers|length %} {% if answers[i-1].isCorrect %}
                            checked="checked"{% endif %} {% endif %}/>
                            <label for="test{{ i+1 }}">Es Falso</label>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <a class="btn waves-effect waves-light " onClick="addElement();">Agregar respuesta</a>
            </div>
            </br>
        <div class="row">
            <div class="col">
                <a class="waves-effect waves-light btn" href={{ path('question_index') }}>Cancelar</a>
            </div>
            <div class="col push-s7">
                <button class="btn waves-effect waves-light" type="submit" name="action">Guardar</button>
            </div>
    {{ form_end(edit_form) }}

            <div class="col push-s7">
                {{ form_start(delete_form) }}
                    <button class="btn pink waves-effect waves-light" type="submit" name="action">Eliminar</button>
                {{ form_end(delete_form) }}
            </div>
        </div>

    </div>
    <script>$(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();});
    </script>

    <script> var i = 11;
        var addElement = function(){
            $(answers).append('<div class="row" id="col'+i+'"></div>');
            var div = document.getElementById("col"+i);
            $(div).append('<div class="input-field col s8" id="10"></div>');
            var div10 = document.getElementById("10");
            $(div10).append('<input placeholder="" name="answer'+i+'" id="name'+i+'" type="text">');

            $(div).append('<div class="row input-field col s4" id="2"></div>');
            var div2 = document.getElementById("2");
            $(div2).append('<input name="group'+i+'" type="radio" id="test'+i+'" />');
            $(div2).append('<label for="test'+i+'">Es Verdadero</label>');
            $(div2).append('<input name="group'+i+'" type="radio" id="test'+i+1+'" checked="checked" />');
            $(div2).append('<label for="test'+i+1+'">Es Falso</label>');
            $(div2).append('</br></br></br>');

            i = i + 2;
        };
    </script>

{% endblock %}