{% extends 'base.html.twig' %}
{% block title %} Crear pregunta {% endblock %}
{% block body %}
    
  <label class="teal-text lighten-4"><h3>Pregunta respuesta de Emparejamiendo:</h3></label>
  <div class="row">


  {{ form_start(form,{ 'enctype':"multipart/form-data"}) }}
      <div class="row">
        <div class="col s12">
        <label class="teal-text darken-4"><h6>Area :</h6></label>
        <input list="areas" name="area" placeholder="seleccione o introzca nombre de area" required>
        <datalist id="areas">
        {% for area in areas %}
          <option value={{ area.nameArea }}>
        {% endfor %}
        </datalist>
      </div>
      </div>

        <div class="row">
          <div class="input-field col s12">
            <label class="teal-text darken-4"><h6>Enunciado :</h6></label>
            <!--textarea id="textarea1" class="materialize-textarea" name="statementQuestion"></textarea-->
            {{ form_widget(form.statementQuestion,{'attr':{'class':'materialize-textarea', 'id':'textarea1','length':'5000','placeholder':'Introduzca texto'}}) }}
            {{ form_errors(form.statementQuestion) }}
          </div>
        </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>imagen</span>
          <i class="material-icons right">perm_media</i>
          <!--input type="file" name="image"-->
          {{ form_widget(form.image) }}
        </div>
        <div class="file-path-wrapper">
          <!--input class="file-path validate" type="text" name="pathImageQuestion"-->
          {{ form_widget(form.pathImageQuestion,{'attr':{'class':'file-path validate'}}) }}
        </div>
      </div>



    <label class="teal-text lighten-4"><h5>RESPUESTAS:</h5></label>
    <form action="#">

    <label class="grey-text lighten-1 col s12">*Las respuestas se mostraran en el orden ingresado.</label><br>


      {% for i in 1..5 %}
      <div class="row">
        <div class="col s12">
          <div class="input-field col s5">
          <!--input placeholder="Introduzca texto" name="answer{{i}}" type="textArea" class="validate" length="250"-->
          <textarea class="materialize-textarea validate" name="answerA{{i}}" placeholder="Introduzca texto" length="250"></textarea>
          <label class="teal-text lighten-4"><h6>Columna A elemento {{ i }} :</h6></label>
          </div>
          <div class="input-field col s5">
           <textarea class="materialize-textarea validate" name="answerB{{i}}" placeholder="Introduzca texto" length="250"></textarea>
          <label class="teal-text lighten-4"><h6>Columna B elemento {{ i }} :</h6></label>        
        </div>
           <div class="input-field col s2">
          
          
          
  <select class="browser-default" name="orderB{{i}}">
    <option value="" disabled selected>pareja correcta</option>
    <option value="1">A 1</option>
    <option value="2">A 2</option>
    <option value="3">A 3</option>
    <option value="3">A 4</option>
    <option value="3">A 5</option>
  </select>

          </div>
        </div>
        </div>
        {% endfor %}


        <div class="alight center">
        <button class="btn waves-effect waves-light" type="submit" name="action">Guardar</button>
          <a class="waves-effect waves-light btn" href={{ path('question_new') }}>Cancelar</a>
            <br>
           </div>  
    <!--/form-->
    {{ form_end(form) }}
    </div>
    <script>$(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();
    $('.modal-trigger').leanModal(); });
    </script>
{% endblock %}