{% extends 'base.html.twig' %}
{% block title %} Crear pregunta {% endblock %}
{% block body %}
    
	<h3>Pregunta abierta con respuesta párrafo: </h3>
	<div class="row">

    <!--form action={{ path('openQuestion_new',{ 'id_type': 1}) }} method="POST" class="col s12" enctype="multipart/form-data" -->
	{{ form_start(form,{ 'enctype':"multipart/form-data"}) }}
    	<div class="row">
    	<div class="input-field col s11">
    	{{ form_widget(form.area) }}
    	<label class="teal-text darken-4"><h6>Area :</h6></label>
    	</div>
    	<div class="col s1">
    	<a class="btn-floating btn-short waves-effect waves-light pink modal-trigger"data-toggle="modal" data-target="#modal1" href=""><i class="material-icons aligned rigth">add</i></a>
    	</div>	
    	</div>

	      <div class="row">
	        <div class="input-field col s12">
	          <label class="teal-text darken-4"><h6>Enunciado :</h6></label>
	          <!--textarea id="textarea1" class="materialize-textarea" name="statementQuestion"></textarea-->
	          {{ form_widget(form.statementQuestion,{'attr':{'class':'materialize-textarea', 'id':'textarea1','length':'5000','placeholder':'Introduzca texto'}}) }}
	          {{ form_errors(form.statementQuestion) }}
	        </div>
	      </div>

	    <div class="file-field input-field">
	      <div class="btn">
	        <span>imagen</span>
	        <i class="material-icons right">perm_media</i>
	        <!--input type="file" name="image"-->
	        {{ form_widget(form.image) }}
	      </div>
	      <div class="file-path-wrapper">
	        <!--input class="file-path validate" type="text" name="pathImageQuestion"-->
	        {{ form_widget(form.pathImageQuestion,{'attr':{'class':'file-path validate'}}) }}
	      </div>
	    </div>

	      <div class=" alight center">
	      <button class="btn waves-effect waves-light " type="submit" name="action">Guardar</button>
		  <a class="waves-effect waves-light btn" href={{ path('question_new') }}>Cancelar</a>
		  <br>
		  </div>  
    <!--/form-->
    {{ form_end(form) }}
    </div>
    <script>$(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();
    $('.modal-trigger').leanModal(); });
    </script>
{% endblock %}