{% extends 'base.html.twig' %}
{% block body %}
    
  <label class="teal-text lighten-4"><h3>Ramillete de falsos y verdaderos</h3></label>

  <div class="row">

    <!--form action={{ path('tframillete_new',{ 'id_type': 9}) }} method="POST" class="col s12" enctype="multipart/form-data" -->
    {{ form_start(form,{ 'enctype':"multipart/form-data"}) }}
        <div class="row">
          <div class="col s12">
            <label class="teal-text darken-4"><h6>Area :</h6></label>
            <input list="areas" name="area" placeholder="seleccione o introzca nombre de area" required>
            <datalist id="areas">
            {% for area in areas %}
              <option value="{{ area.nameArea }}">
            {% endfor %}
            </datalist>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <label class="teal-text darken-4"><h6>Introduccion :</h6></label>
            <!--textarea id="textarea1" class="materialize-textarea" name="statementQuestion"></textarea-->
            {{ form_widget(form.statementQuestion,{'attr':{'class':'materialize-textarea', 'id':'textarea1','length':'5000','placeholder':'Introduzca texto'}}) }}
            {{ form_errors(form.statementQuestion) }}
          </div>
        </div>

        <div class="file-field input-field">
          <div class="btn">
            <span>imagen</span>
            <i class="material-icons right">perm_media</i>
            <!--input type="file" name="image"-->
            {{ form_widget(form.image) }}
          </div>
          <div class="file-path-wrapper">
            <!--input class="file-path validate" type="text" name="pathImageQuestion"-->
            {{ form_widget(form.pathImageQuestion,{'attr':{'class':'file-path validate'}}) }}
          </div>
        </div>

        <label class="teal-text lighten-4"><h5>Enunciados:</h5></label>

          <div class="row" id="answers">
              {% for i in range(1, 10, 2) %}
                  {#<div class="row">#}
                      <div class="input-field col s8">
                          <input placeholder="" name="answer1" id="first_name" type="text">
                          {#<label class="teal-text lighten-4" for="first_name">Respuesta :</label>#}
                      </div>
                      <div class="input-field col s4">
                              <input name="group{{ i }}" type="radio" id="test{{ i }}" />
                              <label for="test{{ i }}">Es Verdadero</label>
                              <input name="group{{ i }}" type="radio" id="test{{ i+1 }}" checked="checked" />
                              <label for="test{{ i+1 }}">Es Falso</label>
                      </div>
                  {#</div>#}
              {% endfor %}
          </div>

        <div class="row">
            <a class="btn waves-effect waves-light " onClick="addElement();">Agregar Enunciado</a>
            <div class=" alight center">
                <button class="btn waves-effect waves-light " type="submit" name="action" onclick="validation();">Guardar</button>
                <a class="waves-effect waves-light btn" href={{ path('question_new') }}>Cancelar</a>
            </div>
        </div>
    {{ form_end(form) }}

  </div>
    <script>$(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();
    $('.modal-trigger').leanModal(); });
    </script>
    <script> var i = 11;
        var addElement = function(){
            $(answers).append('<div class="row" id="col'+i+'"></div>');
            var div = document.getElementById("col"+i);
            $(div).append('<div class="input-field col s8" id="10"></div>');
            var div10 = document.getElementById("10");
            $(div10).append('<input placeholder="" name="answer'+i+'" id="name'+i+'" type="text">');
//            $(div10).append('<label class="teal-text lighten-4" for="name'+i+'">Respuesta :</label>');

            $(div).append('<div class="row input-field col s4" id="2"></div>');
            var div2 = document.getElementById("2");
            $(div2).append('<input name="group'+i+'" type="radio" id="test'+i+'" />');
            $(div2).append('<label for="test'+i+'">Es Verdadero</label>');
            $(div2).append('<input name="group'+i+'" type="radio" id="test'+i+1+'" checked="checked" />');
            $(div2).append('<label for="test'+i+1+'">Es Falso</label>');
            $(div2).append('</br></br></br>');

            i = i + 2;
        };
    </script>
    <script>$(document).ready(function() {
            $('input#input_text, textarea#textarea1').characterCounter(); });
        var validation = function(){
            var value = (document.getElementById("area").value).trim();
            var divArea = document.getElementById("errorArea");
            if( value == null || value.length == 0) {
                divArea.textContent = 'Este valor no debería estar vacío';
            }else{
                divArea.textContent = '';
            }
        };
    </script>
{% endblock %}
