{% extends 'base.html.twig' %}
{% block title %}Pregunta{% endblock %}
{% block body %}

    <div >
    <label class="teal-text lighten-4"><h3>Detalles de Pregunta</h3></label>

        <div class="row">
            <div class="col s12">
                <label class="teal-text darken-4"><h6>Area :</h6></label>
                <div>{{ question.idArea.nameArea }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label class="teal-text darken-4"><h6>Enunciado :</h6></label>
                <div><pre>{{ question.statementQuestion }}</pre></div>
            </div><br><br><br>
            <div class="col s12">
                {% if question.pathImageQuestion != null %}
                <img align="center" height="30%" width="30%" src="{{ asset('uploads/images/')}}{{question.pathImageQuestion}}">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s10">
                <label class="teal-text darken-4"><h6>Elementos de Respuesta :</h6></label>
            </div>
            <div class="col s2">
                <label class="teal-text darken-4"><h6>Secuencia de orden :</h6></label>
            </div>
            {% for ans in answers %}
            <div class="col s12">
                <div class="col s10">
                <pre>{{ ans.content }}</pre>
                </div>
                <div class="col s2">
                <!--select>
                  {% for ans1 in answers %}
                  <option value="" {% if ans.orderVar==ans1.orderVar %} selected {% endif %}disabled>{{ ans1.orderVar }}</option>
                  {% endfor %}
                </select-->
                <p align="center">{{ ans.orderVar }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
            <div class="col ">
                <a class="waves-effect waves-light btn" href={{ path('question_index') }}>Ver preguntas</a>
            </div>
            <div class="col push-s5">
                <a class="waves-effect waves-light btn" href={{path('orderQuestion_edit', { 'id': question.idQuestion})}}>Editar</a>
            </div>
            <div class="col push-s5">
                {{ form_start(delete_form) }}
                    <button class="btn waves-effect waves-light" type="submit" name="action">Eliminar</button>
                {{ form_end(delete_form) }}
            </div>
    </div>
    <script>$('select').material_select('destroy');</script>

{% endblock %}