{% extends 'base.html.twig' %}
{% block title %}Pregunta{% endblock %}
{% block body %}

    <label class="teal-text lighten-4"><h3>Datos de pregunta</h3></label>
    <table>
        <tbody>
            <tr>
                <th><label class="teal-text darken-4"><h6>Area :</h6></label></th>
                <td>{{ question.idArea.nameArea }}</td>
            </tr>
            <br>
            <tr>
                <th><label class="teal-text darken-4"><h6>Enunciado :</h6></label></th>
                <td>{{ question.statementQuestion }}</td>
            </tr>
            <tr>
                <th><label class="teal-text darken-4"><h6>Imagen :</h6></label></th>
                {% if question.pathImageQuestion != null %}
                <td><img height="50%" width="50%" src="{{ asset('uploads/images/')}}{{question.pathImageQuestion}}"></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <div class="row">
            <div class="col ">
                <a class="waves-effect waves-light btn" href={{ path('question_index') }}>Ver preguntas</a>
            </div>
            <div class="col push-s5">
                <a class="waves-effect waves-light btn" href={{path('multipleQuestion_edit', { 'id': question.idQuestion})}}>Editar</a>
            </div>
            <div class="col push-s5">
                {{ form_start(delete_form) }}
                    <button class="btn pink waves-effect waves-light" type="submit" name="action">Eliminar</button>
                {{ form_end(delete_form) }}
            </div>
    </div>

{% endblock %}