{% extends 'base.html.twig' %}
{% block title %} Crear pregunta {% endblock %}
{% block body %}
    
	<h3>Pregunta respuesta unica: </h3>
	<div class="row">

	{{ form_start(form,{ 'enctype':"multipart/form-data"}) }}
    	
    	<div class="input-field col s11">
    	{{ form_widget(form.area) }}
    	<label>Area: </label>
    	</div>
    	<div class="col s1">

    	<a class="btn-floating btn-short waves-effect waves-light pink" href="/area/new"><i class="material-icons aligned rigth">add</i></a></div>
    	
    	</div>

	      <div class="row">
	        <div class="input-field col s12">
	          	          {{ form_widget(form.statementQuestion,{'attr':{'class':'materialize-textarea', 'id':'textarea1','length':'5000'}}) }}
	          {{ form_errors(form.statementQuestion) }}
	          <label for="textarea1">Enunciado</label>
	        </div>
	      </div>

	    <div class="file-field input-field">
	      <div class="btn">
	        <span>Subir imagen</span>
	        {{ form_widget(form.image) }}
	      </div>
	      <div class="file-path-wrapper">
	        {{ form_widget(form.pathImageQuestion,{'attr':{'class':'file-path validate'}}) }}
	      </div>
	    </div>


		<h5>RESPUESTAS:</h5>
		<form action="#">

		<label><a class="col s12">*Las respuestas se mostraran en el orden ingresado.</label>

		<div class="row">
    	<form class="col s12">
     	<div class="row">
      	<div class="input-field col s10">
        <input placeholder="" id="first_name" type="text" class="validate">
        <label for="first_name">Respuesta 1:</label>
        </div>
        <div class="input-field col s2">
        <input name="group1" type="radio" id="correct1" />
     	<label for="correct1">Correcta</label>
        </div>
      	</div>

      	<form class="col s12">
     	<div class="row">
      	<div class="input-field col s10">
        <input placeholder="" id="first_name" type="text" class="validate">
        <label for="first_name">Respuesta 2:</label>
        </div>
        <div class="input-field col s2">
        <input name="group1" type="radio" id="correct1" />
     	<label for="correct1">Correcta</label>
        </div>
        </div>

     	<form class="col s12">
     	<div class="row">
      	<div class="input-field col s10">
        <input placeholder="" id="first_name" type="text" class="validate">
        <label for="first_name">Respuesta 3:</label>
        </div>
        <div class="input-field col s2">
        <input name="group1" type="radio" id="correct1" />
     	<label for="correct1">Correcta</label>
        </div>
     	</div>

    	<form class="col s12">
     	<div class="row">
      	<div class="input-field col s10">
        <input placeholder="" id="first_name" type="text" class="validate">
        <label for="first_name">Respuesta 4:</label>
        </div>
        <div class="input-field col s2">
        <input name="group1" type="radio" id="correct1" />
     	<label for="correct1">Correcta</label>
        </div>
        </div>

    	<form class="col s12">
     	<div class="row">
      	<div class="input-field col s10">
        <input placeholder="" id="first_name" type="text" class="validate">
        <label for="first_name">Respuesta 5:</label>
        </div>
        <div class="input-field col s2">
        <input name="group1" type="radio" id="correct1" />
     	<label for="correct1">Correcta</label>
        </div>
     	</div>

    		

    	</div>


	      
	      <div class=" alight center">
	      <a class="waves-effect waves-light btn" href={{ path('question_new') }}>Guardar</a>
		  <a class="waves-effect waves-light btn" href={{ path('question_new') }}>Cancelar</a>
		  <br>
		  </div>
		  </button></div>

    <!--/form-->
    {{ form_end(form) }}
    </div>
    <script>$(document).ready(function() {
    $('input#input_text, textarea#textarea1').characterCounter();});
    </script>
{% endblock %}