<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenidos{% endblock %}</title>
            <link href="{{ asset('http://fonts.googleapis.com/icon?family=Material+Icons') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{asset('css/materialize.min.css')}}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <style>

             body {
                 margin: 0;
                 padding: 0;
                 font-family: sans-serif;
                 display: flex;
                 flex-wrap: wrap;
                 min-height: 100vh;
                 background: #f0f0f0;
             }
             h3 {
                 class: "teal-text lighten-4";
             }
             footer {
                 background: #111;
                 color: #fff;
                 width: 100%;
                 text-align: center;
                 padding: 1em;
                 align-self: flex-end;
             }
        </style>
    </head>

    <body  style ="background-color:#e0f2f1;">
        <ul id="questionTypes" class="dropdown-content teal">
            <li><a class="white-text" href="/question/openQuestion/1">Abierta</a></li>
            <li><a class="white-text" href="/question/fileQuestion/3">Con Archivo</a></li>
            <li><a class="white-text" href="/question/trueFalseQuestion/4">Falso Verdadero</a></li>
            <li><a class="white-text" href="/question/uniqueAnswerQuestion/5">Respuesta Unica</a></li>
            <li><a class="white-text" href="/question/multipleQuestion/6">Respustas Multiples</a></li>
            <li><a class="white-text" href="/question/matchingQuestion/7">Emparejamiento</a></li>
            <li><a class="white-text" href="/question/orderQuestion/2">Ordenamineto</a></li>
        </ul>
        
        <nav >
            <div class="nav-wrapper teal ">
                <a href="#" class="brand-logo center"><b>Evaluaciones En Linea</b></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/question/new">Crear Pregunta</a></li>
                    <li><a href="/test/new">Crear Examen</a></li>
                    {#<li><a class="dropdown-button" href="/question/new" data-activates="questionTypes">Crear Pregunta<i class="material-icons right">arrow_drop_down</i></a></li>#}
                    <li><a  href={{ path('logout_homepage') }} >Salir</a></li>
                </ul>
            </div>
        </nav>
        
        <script src="{{asset('js/jquery-3.0.0.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/materialize.min.js')}}" type="text/javascript" ></script>
        
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="page-footer teal">
            <div class="footer-copyright">
                <div class="container">
                    © 2016 Copyright DevSoft
                    <a class="grey-text text-lighten-4 right" href="#!"></a>
                </div>
            </div>
        </footer>
            <script>
                $(".dropdown-button").dropdown();
                $(".dropdown-collapse").sideNav();
                $(document).ready(function() {$('select').material_select();});
            </script>
    </body>
</html>