<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenidos{% endblock %}</title>
            <link href="{{ asset('http://fonts.googleapis.com/icon?family=Material+Icons') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{asset('css/materialize.min.css')}}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <style>

             body {
                 margin: 0;
                 padding: 0;
                 font-family: sans-serif;
                 display: flex;
                 flex-wrap: wrap;
                 min-height: 100vh;
                 background: #f0f0f0;
             }
             h3 {
                 class: "teal-text lighten-4";
             }
             footer {
                 background: #111;
                 color: #fff;
                 width: 100%;
                 text-align: center;
                 padding: 1em;
                 align-self: flex-end;
             }
             
             </style>
            <script language="JavaScript"> 
                function reloj(){ 
                momentoActual = new Date() 
                hora = momentoActual.getHours() 
                minuto = momentoActual.getMinutes() 
                segundo = momentoActual.getSeconds() 

                str_segundo = new String (segundo) 
                if (str_segundo.length == 1) 
                segundo = "0" + segundo 

                str_minuto = new String (minuto) 
                if (str_minuto.length == 1) 
                minuto = "0" + minuto 

                str_hora = new String (hora) 
                if (str_hora.length == 1) 
                hora = "0" + hora 

                var fecha =  (momentoActual.getFullYear() + "-" + (momentoActual.getMonth() +1) + "-" + momentoActual.getDate() )

                horaImprimible = fecha + " / " +hora + " : " + minuto + " : " + segundo
                                     
                document.form_reloj.reloj.value = horaImprimible 

                setTimeout("reloj()",1000) 
                } 
            </script> 
    </head>

    <body  style ="background-color:#fffde7;" onload="reloj()">
        
        <nav>
            <div class="nav-wrapper teal ">
                <ul class="left hide-on-med-and-down">
                    <li>
                        <form name="form_reloj"> 
                            <input type="text" name="reloj" size="30" style="border-bottom: 0px solid teal; color : White; text-align : center;" onfocus="window.document.formc_reloj.reloj.blur()"> 
                        </form> 
                    </li>
                </ul>
                <a href="#" class="brand-logo center"><b>Evaluaciones En Linea</b></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/question/new">Crear Pregunta</a></li>
                    <li><a href="/test">Examenes</a></li>
                    <li><a href="/test/new">Crear Examen</a></li>
                    <li><label class="black-text">{{ app.user.name}} {{ app.user.lastName}}</label></li>
                    <li><a  href={{ path('logout') }} >Salir</a></li>
                </ul>
            </div>
        </nav>
        
        <script src="{{asset('js/jquery-3.0.0.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/materialize.min.js')}}" type="text/javascript" ></script>
        
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="page-footer teal">
            <div class="footer-copyright">
                <div class="container">
                    © 2016 Copyright DevSoft
                    <a class="grey-text text-lighten-4 right" href="#!"></a>
                </div>
            </div>
        </footer>

        <script>
            $(".dropdown-button").dropdown();
            $(".dropdown-collapse").sideNav();
            $(document).ready(function() {$('select').material_select();});
        </script>
    </body>
</html>