<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenidos{% endblock %}</title>
            <link href="{{ asset('http://fonts.googleapis.com/icon?family=Material+Icons') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{asset('css/materialize.min.css')}}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body  style ="background-color:#00695c;">

        <script src="{{asset('js/jquery-3.0.0.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/materialize.min.js')}}" type="text/javascript" ></script>

        {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <span class="mdi-alert-warning">
            {{ flashMessage }}</br>
        </span>
        {% endfor %}
        <div class="row container">
            <br>
            <label class="teal-text lighten-4 lighten-5"><h3><b>Inicio De Sesion</b></h3></label></br>
            <form class="col s12 center-on-small-only" method="post" action="{{ path('validate_homepage') }}" >
                <div class="row">
                    <div class="input-field col s6">
                        <input name="login" id="login" type="text" placeholder="Ingrese nombre de usuario" required>
                        <label for="login" class="teal-text lighten-4"><h6><b>Nombre De Usuario</b></h6></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="password" id="password" type="password" placeholder="Ingrese su contraseña" required>
                        <label for="password" class="teal-text lighten-4"><h6><b>Contraseña</b></h6></label>
                    </div>
                </div>
                <button class="btn waves-effect  teal" type="submit" name="action">Ingresar</button>
            </form>
        </div>

    </body>
</html>