
                <div class="col s12">
                    {% set counter = 1 %}
                    {% for ans in question['answers']%}
                        {% set falseC = counter + 1 %}
                        <div class="input-field col s8">
                            <pre>{{ ans.content }}</pre>
                        </div>
                        <div class="input-field col s4">

                            <input name="group{{ ans.idAnswerElement }}" type="radio" id="test{{numQ}}{{counter}}" value="TRUE" />

                            <label for="test{{numQ}}{{counter}}">Es Verdadero</label>

                            <input name="group{{ ans.idAnswerElement }}" type="radio" id="test{{numQ}}{{falseC}}" value="FALSE" />

                            <label for="test{{numQ}}{{falseC}}">Es Falso</label>

                        </div>
                        {% set counter = counter + 2 %}
                    {% endfor %}
                </div>