
            <div class="row">
                <div class="row" id="answers">
                    {% set counter = 1 %}
                    {% for ans in question['answers']%}
                        {% set falseC = counter + 1 %}
                        <div class="input-field col s8">
                            <pre>{{ ans.content }}</pre>
                        </div>
                        <div class="input-field col s4">

                            <input name="group{{ ans.idAnswerElement }}" type="radio" id="test{{ counter }}" value="verdadero"/>

                            <label for="test{{counter}}">Es Verdadero</label>

                            <input name="group{{ ans.idAnswerElement }}" type="radio" id="test{{ falseC }}" value="falso"/>

                            <label for="test{{ falseC }}">Es Falso</label>

                        </div>
                        {% set counter = counter + 2 %}
                    {% endfor %}
                </div>
            </div>