{% extends 'base.html.twig' %}
{% block title %} Examen {% endblock %}
{% block body%}
	<div class="row">
		<label class="teal-text lighten-4"><h5>Resolviendo Examen:</h5></label>

	        <div class="col s12 center">
	        <label class="teal-text lighten-4"><h3>{{ test.title }}</h3></label>
	        </div>
	        <div class="col s12 m12 l12">
	        <div class="col s12 m6 l6">
	            <label><h5 class="teal-text darken-4">Materia: <strong class="black-text">{{ test.matter }}</strong></h5></label>
	        </div>
	        <div class="col s12 m6 l6">
	            {% if test.institution%}
	                <label class="teal-text darken-4"><h5>Institucion :  <strong class="black-text">{{ test.institution }}</strong></h5></label>
	            {% else %}
	                {{ 'No Definido'}}
	            {% endif %}
	        </div>
	        <div class="col s12 m6 l6">
	            {% if test.startTime%}
	                <label class="teal-text darken-4"><h5>Hora inicio habilitado:  <strong class="black-text">
	                {{ test.startDate|date('y/m/d')}}{{ test.startTime|date(' H:i')  }}</strong></h5></label>
	            {% else %}
	                {{ 'No Definido'}}
	            {% endif %}
	        </div>
	        <div class="col s12 m6 l6">
	            {% if test.endTime%}
	                <label class="teal-text darken-4"><h5>Hora fin habilitado:  <strong class="black-text">
	                	{{ test.endDate|date('y/m/d')}}{{ test.endTime|date(' H:i')  }}
	                </strong></h5></label>
	            {% else %}
	                {{ 'No Definido'}}
	            {% endif %}
	        </div>
	        </div>
	        <div class="col s12">
	            <div class="col s9">
	            <h5 class="teal-text darken-4">Nombre completo: <strong class="black-text">{{ app.user.name }} {{app.user.lastName}}</strong></h5>
	            </div>
	        </div>
	    
		<form action="/saveExam/{{test.idTest}}" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="col s12">
					{% set numQ = 1 %}
					{% for question in data %}
						<input type="hidden" name="idQuestion{{numQ}}" value="{{question['question'].idQuestion}}">

						{% if question['question'].idType.idType != 8 %}
							<label class="teal-text lighten-4"><h5>Pregunta {{ numQ }}</h5></label>

							<label class="teal-text lighten-4">{{question['question'].idType.nameType}}.</label>
							<label class="pink-text lighten-4">
							{% if question['question'] in questionsPenalized %}
							Penalización, una respuesta mala anula una buena.
							{% endif %}
							</label>
							
							<pre>{{ question['question'].statementQuestion }}</pre>
							{% if question['question'].pathImageQuestion != null %}
						        <img align="center" height="30%" width="30%" src="{{ asset('uploads/images/')}}{{question['question'].pathImageQuestion}}">
						    {% endif %}
					    {% endif %}

						{% if question['question'].idType.idType == 1 %}
							<div class="input-field col s12">
								<textarea class="materialize-textarea validate" name="answer{{numQ}}" placeholder="Introduzca texto"></textarea>
					        </div>
						{% elseif question['question'].idType.idType == 2 %}
							{{ include('EvaluationsBundle:TestForm:templateOrderQuestion.html.twig') }}
						{% elseif question['question'].idType.idType == 3 %}
							{{ include('EvaluationsBundle:TestForm:templateFileQuestion.html.twig') }}
						{% elseif question['question'].idType.idType == 4 %}
							<div class="col s12">
							      <input name="trueFalse{{question['question'].idQuestion}}" type="radio" id="t{{numQ}}" value="true" />
							      <label for="t{{numQ}}">Verdadero</label>
							      <input name="trueFalse{{question['question'].idQuestion}}" type="radio" id="f{{numQ}}" value="false"/>
							      <label for="f{{numQ}}">Falso</label>
							</div>
						{% elseif question['question'].idType.idType == 5 %}
							{{ include('EvaluationsBundle:TestForm:templateUniqueQuestion.html.twig') }}
						{% elseif question['question'].idType.idType == 6 %}
							{{ include('EvaluationsBundle:TestForm:templateMultipleQuestion.html.twig') }}
						{% elseif question['question'].idType.idType == 7 %}
							{{ include('EvaluationsBundle:TestForm:templateMatchingQuestion.html.twig') }}
						{% elseif question['question'].idType.idType == 8 %}
							{{ include('EvaluationsBundle:TestForm:templateCompletionQuestion.html.twig') }}
						{% elseif question['question'].idType.idType == 9 %}
							{{ include('EvaluationsBundle:TestForm:templateBucketTF.html.twig') }}
						{% endif %}

						{% set numQ = numQ+1 %}
					{% endfor %}
				</div>
			</div>
		    <div class="center-align">
		        <button class="btn waves-effect waves-light" type="submit" name="action" >Terminar</button>
		        <a class="waves-effect waves-light btn" href={{ path('test_index') }}>Cancelar</a>
		    </div>
		</form>
	</div>
{% endblock %}